name: Deploy with azd up

on:
  workflow_dispatch:    # manual trigger
  push:
    branches: [ main ]  # or any branch you want

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout-repository
        uses: actions/checkout@v4
        
      - name: Install-azd
        uses: Azure/azure-dev@v1 
        
      - name: Log-in-to-Azure-Aidan
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AIDAN_AZURE }}
          
      - name: Set environment name aidan
        run: azd env select ${{ secrets.AIDAN_ENV_NAME }} || azd env new ${{ secrets.AIDAN_ENV_NAME }}
  
      - name: Run azd up
        run: azd up --no-prompt

      - name: Log-in-to-Azure-Omner
        uses: azure/login@v2
        with:
          creds: ${{ secrets.OMNER_AZURE }}
          
      - name: Set environment name omner
        run: azd env select ${{ secrets.OMNER_ENV_NAME }} || azd env new ${{ secrets.OMNER_ENV_NAME }}
  
      - name: Run azd up
        run: azd up --no-prompt

      # - name: Log-in-to-Azure-Kaden
      #   uses: azure/login@v2
      #   with:
      #     creds: ${{ secrets.KADEN_AZURE }}
          
      # - name: Set environment name kaden
      #   run: azd env select ${{ secrets.KADEN_ENV_NAME }} || azd env new ${{ secrets.KADEN_ENV_NAME }}
  
      # - name: Run azd up
      #   run: azd up --no-prompt
